/* Fonts */
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('fonts/OpenSans-SemiboldItalic.eot');
    src: url('fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-SemiboldItalic.woff') format('woff'),
        url('fonts/OpenSans-SemiboldItalic.ttf') format('truetype'),
        url('fonts/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('fonts/OpenSansLight-Italic.eot');
    src: url('fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('fonts/OpenSansLight-Italic.woff') format('woff'),
        url('fonts/OpenSansLight-Italic.ttf') format('truetype'),
        url('fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('fonts/OpenSans-Extrabold.eot');
    src: url('fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('fonts/OpenSans-Extrabold.woff') format('woff'),
        url('fonts/OpenSans-Extrabold.ttf') format('truetype'),
        url('fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Light.woff2') format('woff2'),
        url('fonts/OpenSans-Light.woff') format('woff'),
        url('fonts/OpenSans-Light.ttf') format('truetype'),
        url('fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans-Semibold.eot');
    src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('fonts/OpenSans-Semibold.woff') format('woff'),
        url('fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans.woff') format('woff'),
        url('fonts/OpenSans.ttf') format('truetype'),
        url('fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('fonts/OpenSans-BoldItalic.eot');
    src: url('fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('fonts/OpenSans-BoldItalic.ttf') format('truetype'),
        url('fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('fonts/OpenSans-Italic.eot');
    src: url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Italic.woff2') format('woff2'),
        url('fonts/OpenSans-Italic.woff') format('woff'),
        url('fonts/OpenSans-Italic.ttf') format('truetype'),
        url('fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('fonts/OpenSans-ExtraboldItalic.eot');
    src: url('fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-ExtraboldItalic.woff') format('woff'),
        url('fonts/OpenSans-ExtraboldItalic.ttf') format('truetype'),
        url('fonts/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-LightIt';
    src: url('fonts/SourceSansPro-LightIt.eot');
    src: url('fonts/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-LightIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-LightIt.woff') format('woff'),
        url('fonts/SourceSansPro-LightIt.ttf') format('truetype'),
        url('fonts/SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-BlackIt';
    src: url('fonts/SourceSansPro-BlackIt.eot');
    src: url('fonts/SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-BlackIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-BlackIt.woff') format('woff'),
        url('fonts/SourceSansPro-BlackIt.ttf') format('truetype'),
        url('fonts/SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-ExtraLightIt';
    src: url('fonts/SourceSansPro-ExtraLightIt.eot');
    src: url('fonts/SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-ExtraLightIt.woff') format('woff'),
        url('fonts/SourceSansPro-ExtraLightIt.ttf') format('truetype'),
        url('fonts/SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-BoldIt';
    src: url('fonts/SourceSansPro-BoldIt.eot');
    src: url('fonts/SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-BoldIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-BoldIt.woff') format('woff'),
        url('fonts/SourceSansPro-BoldIt.ttf') format('truetype'),
        url('fonts/SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('fonts/SourceSansPro-Bold.eot');
    src: url('fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Bold.woff') format('woff'),
        url('fonts/SourceSansPro-Bold.ttf') format('truetype'),
        url('fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-SemiboldIt';
    src: url('fonts/SourceSansPro-SemiboldIt.eot');
    src: url('fonts/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        url('fonts/SourceSansPro-SemiboldIt.woff') format('woff'),
        url('fonts/SourceSansPro-SemiboldIt.ttf') format('truetype'),
        url('fonts/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: url('fonts/SourceSansPro-ExtraLight.eot');
    src: url('fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('fonts/SourceSansPro-ExtraLight.woff') format('woff'),
        url('fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
        url('fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('fonts/SourceSansPro-Black.eot');
    src: url('fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-Black.woff2') format('woff2'),
        url('fonts/SourceSansPro-Black.woff') format('woff'),
        url('fonts/SourceSansPro-Black.ttf') format('truetype'),
        url('fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-It';
    src: url('fonts/SourceSansPro-It.eot');
    src: url('fonts/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-It.woff2') format('woff2'),
        url('fonts/SourceSansPro-It.woff') format('woff'),
        url('fonts/SourceSansPro-It.ttf') format('truetype'),
        url('fonts/SourceSansPro-It.svg#SourceSansPro-It') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('fonts/SourceSansPro-Regular.eot');
    src: url('fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff'),
        url('fonts/SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('fonts/SourceSansPro-Light.eot');
    src: url('fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('fonts/SourceSansPro-Light.woff') format('woff'),
        url('fonts/SourceSansPro-Light.ttf') format('truetype'),
        url('fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('fonts/SourceSansPro-Semibold.eot');
    src: url('fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Semibold.woff') format('woff'),
        url('fonts/SourceSansPro-Semibold.ttf') format('truetype'),
        url('fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona-Bold';
    src: url('fonts/Gentona-Bold.eot');
    src: url('fonts/Gentona-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gentona-Bold.woff2') format('woff2'),
        url('fonts/Gentona-Bold.woff') format('woff'),
        url('fonts/Gentona-Bold.ttf') format('truetype'),
        url('fonts/Gentona-Bold.svg#Gentona-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono-Bold';
    src: url('fonts/RobotoMono-Bold.eot');
    src: url('fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('fonts/RobotoMono-Bold.woff') format('woff'),
        url('fonts/RobotoMono-Bold.ttf') format('truetype'),
        url('fonts/RobotoMono-Bold.svg#RobotoMono-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


